<!DOCTYPE html>
<html>

<head>
    <title>Adder</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='skeleton.css') }}">
</head>

<body>
    <div id="app" class="container">
        {% raw %}
        <div class="row">
            <input class="eight columns" v-model="numbers" type="text" placeholder="put numbers">
            <button class="four columns" @click="load">Load Numbers</button>
            <span>{{ message }}</span>
        </div>

        <div class="row">
            <span class="two columns">start</span> <input type="text" class="four columns" v-model="start" placeholder="0">
            <span class="two columns">end</span> <input type="text" class="four columns" v-model="end" placeholder="10">
        </div>
        <div class="row">
            <vuetable class="two-thirds columns" ref="vuetable" track-by="id" :data="datatable"
                      :api-mode="false" :fields="columns"></vuetable>
            <!--vuetable class="two-thirds columns" ref="vuetable" api-url="/api/numbers" data-path=""
                      :http-options='{method: "post",  data: { "start":1,  "end":9 } }' :fields="columns"></vuetable-->
            {{ datatable }}
        </div>
        <div>
            <button class="six columns" @click="add">Add one</button>
            <button class="six columns" @click="double">Then Double</button>
        </div>
        {% endraw %}
    </div>

    <script src="https://unpkg.com/vue@2.2.3/dist/vue.js"></script>
    <script src="https://unpkg.com/axios@0.16.1/dist/axios.js"></script>
    <script src='{{ url_for("static", filename="vuetable-2.js") }}'></script>
    <script src='{{ url_for("static", filename= "main.js") }}'></script>
</body>

</html>