<!DOCTYPE html>
<html>

<head>
    <title>Adder</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='skeleton.css') }}">
</head>

<body>
    <div id="app" class="container">
        {% raw %}
        <div class="row">
            <input class="eight columns" v-model="numbers" type="text" placeholder="put numbers">
            <button class="four columns" @click="load">Load Numbers</button>
            <span>{{ message }}</span>
        </div>

        <div class="row">
            <span class="two columns">start</span> <input type="text" class="four columns" v-model="start" placeholder="0">
            <span class="two columns">end</span> <input type="text" class="four columns" v-model="end" placeholder="10">
        </div>
        <div class="row">
            <table class="two-thirds columns">
                <thead>
                    <tr>
                        <th class="one columns">idx</th>
                    <th class="one columns">ID</th>
                    <th class="three columns">original</th>
                    <th class="three columns">Plus One</th>
                    <th class="four columns">Then Double</th>
                    </tr>
                </thead>
                <tbody v-for="row in datatable">
                  <tr>  
                      <td class="one columns"><input type="checkbox" :value="row.id" v-model="row.selected"></td>
                    <td class="one columns">{{row.id}}</td>
                    <td class="three columns">{{row.initialy}}</td>
                    <td class="three columns">{{row.plusone}}</td>
                    <td class="four columns">{{row.timestwo}}</td>
                  </tr>
                </tbody>
                
            </table>
        </div>
            <div>Selected: {{ selected.join() }}</div>
        <div>
            <button class="six columns" @click="add">Add one</button>
            <button class="six columns" @click="double">Then Double</button>
        </div>
        {% endraw %}
    </div>

    <script src="https://unpkg.com/vue@2.2.3/dist/vue.js"></script>
    <script src="https://unpkg.com/axios@0.16.1/dist/axios.js"></script>
    <script src='{{ url_for("static", filename= "main.js") }}'></script>
</body>

</html>